<body>
	{% extends 'wellofsheep/base.html' %}
	<article>
		{% block content %}
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
		</script>
			<script type="text/javascript">
				function refresh() {
					$.ajax({
						url: {% url 'get_more_tables' %},
						success: function(reponse) {
							$('#_table').html(reponse);
						}
					});
					setInterval("refresh()", 10000);
				}
				
				$(function() {
					refresh();
				});
				
		</script>

		<div id = '_table'>
			<table>
				<thead>
					<tr>
						<th>Account</th>
						<th>Password</th>
						<th>IP</th>
						<th>option</th>
					<tr>
				</thead>
				<tbody>
					{% include 'wellofsheep/get_more_tables.html' %}
				</tbody>
			</table>
		</div>
		{% endblock %}
	</article>
</body>
